@tailwind base;
@tailwind components;

html {
  @apply font-body antialiased;
}

@tailwind utilities;


.grid{
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  margin-left: 10rem;
  column-gap: 2rem;
}
.icon {
  margin: auto;
  width: 200px;
  height: 200px;
}
